{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <!--Swiper-->
        <div data-height="" data-min-height="600px" class="swiper-container swiper-slider swiper-vert-mid">
            <div class="swiper-wrapper">
                <div data-slide-bg="bundles/front/images/slide-1.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption">
                        <div class="container">
                            <div data-caption-animate="fadeInDown" class="swiper-caption-wrap">
                                <p data-caption-animate="fadeIn" data-caption-delay="800" class="h3">1530-2 Liberty Ave 4</p>
                                <hr data-caption-animate="fadeIn" data-caption-delay="800">
                                <p data-caption-animate="fadeIn" data-caption-delay="800" class="hidden-xs">This is a 3 bedroom, 2.0 bathroom multi family home. It is located  at 1530 Liberty Ave Hillside.</p>
                                <div data-caption-animate="fadeIn" data-caption-delay="800" class="price text-ubold">$309.00<span>/day</span></div><a href="property-catalog-single.html" data-caption-animate="fadeIn" data-caption-delay="800" class="btn btn-sm btn-sushi">book now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-slide-bg="bundles/front/images/slide-2.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption">
                        <div class="container">
                            <div data-caption-animate="fadeInDown" class="swiper-caption-wrap">
                                <p data-caption-animate="fadeIn" data-caption-delay="800" class="h3">53 Rachel Ct 53</p>
                                <hr data-caption-animate="fadeIn" data-caption-delay="800">
                                <p data-caption-animate="fadeIn" data-caption-delay="800" class="hidden-xs">A renovated apartment for rent by owner. 2 bedroom,  2 full bath living and dining room</p>
                                <div data-caption-animate="fadeIn" data-caption-delay="800" class="price text-ubold">$216.00<span>/day</span></div><a href="property-catalog-single.html" data-caption-animate="fadeIn" data-caption-delay="800" class="btn btn-sm btn-sushi">book now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-slide-bg="bundles/front/images/slide-3.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption">
                        <div class="container">
                            <div data-caption-animate="fadeInDown" class="swiper-caption-wrap">
                                <p data-caption-animate="fadeIn" data-caption-delay="800" class="h3">Modera Loft</p>
                                <hr data-caption-animate="fadeIn" data-caption-delay="800">
                                <p data-caption-animate="fadeIn" data-caption-delay="800" class="hidden-xs">Make Modera Loft your home and reside in historic Jersey City style.</p>
                                <div data-caption-animate="fadeIn" data-caption-delay="800" class="price text-ubold">$239.00<span>/day</span></div><a href="property-catalog-single.html" data-caption-animate="fadeIn" data-caption-delay="800" class="btn btn-sm btn-sushi">book now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Swiper Navigation-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>
{% endblock %}
