{% extends "base.html.twig" %}

{% block title %}FrontSearchBundle:NoFilter:displayAll{% endblock %}

{% block body %}
    <section class="section-full section-full-mod-1 text-left">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Tous les gites</h1>
                    <p></p>
                    <ol class="breadcrumb">
                        <li>
                            <a href="{{ path('home') }}">Home</a>
                        </li>
                        <li class="active">Les gites</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="section-md section-mod-1 text-left">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <div class="row clearleft-custom-5">
                        {% for gite in gites | sortbyfield('title') %}
                            <div class="col-xs-12 col-sm-6">
                                {% include 'FrontSearchBundle:NoFilter:gite_preview.html.twig' with {'gite': gite} %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
